<h1>Listing campaigns</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to 'Show', carrier_campaign_path(@carrier.id, campaign)%></td>
        <td><%= link_to 'Edit', edit_carrier_campaign_path(@carrier.id,campaign) %></td>
        <td><%= link_to 'Destroy', [@carrier,campaign], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_carrier_campaign_path %>
